	{% if page.speciality %}
	  {% assign cases = site.cases | where: "speciality", page.speciality %}
	 {% else %}
	  {% assign cases = site.cases %}
	 {% endif %}
	
	{% for case in cases %}
	
	{% case case.difficulty %}
	{% when 'Easy' %}
		{% assign difficulty-color = 'bg-green' %}
	{% when 'Medium' %}
		{% assign difficulty-color = 'bg-orange' %}
	{% when 'Hard' %}
		{% assign difficulty-color = 'bg-rm-red' %}
	{% endcase %}
	  <article class="fl w-100 w-50-m w-25-l pa2-ns mb4">
    	<a href="{{ case.url }}" class="link db dim">
      	<div class="z-0 aspect-ratio aspect-ratio--16x9 cover bg-center" style="background-image:url({{ case.videoThumbnailMedium }});">
      		<div>
      			<span class="absolute left-1 top-1 f7 dib pa1 br1 w-auto {{ difficulty-color }} white">{{ case.difficulty | capitalize}}</span>
      			<span class="absolute right-1 top-1 f7 dib pa1 br1 w-auto bg-blue white">{{ case.author }}</span>
      			{% if case.restricted %}
      			<span class="absolute right-1 bottom-1 f6 b dib pa1 br1 w-auto bg-yellow black-70 shadow-1"><i class="icon-star-full"></i> Premium</span>
      			{% endif %}
      		</div>
      	</div>
      		<h3 class="f5 mb0 br1 black-80">{{ case.title }}</h3>
    	</a>
  </article>
	{% endfor %}
