<footer class="bg-near-black white-80 pa2 pa3-ns ph4-l">
	<div class="container cf mw9 center pa2">
		
		<div class="fl f6 w-50 w-25-l">
		<ul class="list pl0">
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">About</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Who we are</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Pricing</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Terms &amp; Conditions</a></li>
		</ul>
		</div>
		<div class="fl f6 w-50 w-25-l">
		<ul class="list pl0">
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">About</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Who we are</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Pricing</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Terms &amp; Conditions</a></li>
		</ul>
		</div>
		<div class="fl f6 w-50 w-25-l">
		<ul class="list pl0">
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">About</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Who we are</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Pricing</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Terms &amp; Conditions</a></li>
		</ul>
		</div>
		<div class="fl f6 w-50 w-25-l">
		<ul class="list pl0">
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">About</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Who we are</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Pricing</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Terms &amp; Conditions</a></li>
		</ul>
		</div>

		<div class="fl f6 w-50 w-25-l">
		<ul class="list pl0">
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">About</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Who we are</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Pricing</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Terms &amp; Conditions</a></li>
		</ul>
		</div>

		<div class="fl f6 w-50 w-25-l">
		<ul class="list pl0">
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">About</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Who we are</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Pricing</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Terms &amp; Conditions</a></li>
		</ul>
		</div>

		<div class="fl f6 w-50 w-25-l">
		<ul class="list pl0">
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">About</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Who we are</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Pricing</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Terms &amp; Conditions</a></li>
		</ul>
		</div>

		<div class="fl f6 w-50 w-25-l">
		<ul class="list pl0">
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">About</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Who we are</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Pricing</a></li>
			<li><a href="http://localhost:3000/app/cases/first-case.html" class="link db white-70 dim pb1">Terms &amp; Conditions</a></li>
		</ul>
		</div>
	</div>
</footer>