<header>
	<div class="w-100 mw9-l center pa3 ph4-l dt">
		<!-- branding -->
        <a class="link white-90 dim" href="/">
            <h1 id="logo" class="dtc f5 fw3 ma0">
    		<img class="fl w2 w-auto-ns pr1 pr3-l" src="/assets/img/logo-48.png">
    		<span class="f5 f3-ns">Radiology Masters</span>
    		<span id="strapline" class="db white-70 fw3 f7 f5-ns">Learn faster</span>
    		</h1>
        </a>
        <!-- branding -->
		
    <!-- login / register widget -->
            <div id="user-meta" class="dtc v-mid tr f7 f6-ns ">
                {% if site.mode != 'free' %}
                <div class="authenticated" style="display: none;"><!-- Display name if logged in / logout -->
                    <a href="/profile" class="profile dib no-underline bg-animate hover-bg-dark-blue pa2 br2 white-70 hover-white mr1">Radiology Masters</a>
                    <a href="#" class="logout dib no-underline bg-animate hover-bg-rm-red pa2 br2 white-70 hover-white mr1">Logout</a>
                </div>

                <div class="unauthenticated" style="display: none;"><!-- Login / Register -->
                    <a href="/account?type=signin" class="dib f7 f6-ns no-underline bg-animate hover-bg-gray pa2 br2 white-70 hover-white mr1">Login</a>
                    <a href="/account?type=signup" class="dib f7 f6-ns no-underline bg-animate hover-bg-gray pa2 br2 white-70 hover-white mr1">Register (free)</a>
                </div>
                {% endif %}
            </div>  
        <!-- login / register widget -->

	</div>

<nav class="bg-black">
  <div class="w-100 mw9-l center tc nowrap overflow-x-auto" style="-webkit-overflow-scrolling: touch;">
  {% assign specialities = site.specialities | sort: "order" %}
  {% for speciality in specialities %}
  <a class="link white-80 f5 dib pa2 pv3-l pv3-l bg-animate hover-bg-rm-black" href="/{{ speciality.slug | downcase }}" title="{{ speciality.name }} radiology tutorials">{{ speciality.name }}</a>
  {% endfor %}  
  </div>
</nav>
</header>