	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Radiology Masters</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">	
	<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

	<style type="text/css">
	html {
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
		font-variant-ligatures: no-common-ligatures;
		letter-spacing: 0.5px;
	}

	#logo { font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	 }
	 #logo span { font-family: "Open Sans", sans-serif; letter-spacing: 1px; }

	header { background-color: #2B2B2F; color: #fafafa; }
	.bg-rm-black, .hover-bg-rm-black:hover { background-color: #2B2B2F; color: #fafafa; }
	.rm-black { color: #2B2B2F; }
	
	.bg-rm-green, .hover-bg-rm-green:hover { background-color: #284C49; }
	.rm-green { background-color: #284C49; }
	
	.bg-rm-red, .hover-bg-rm-red:hover { background-color: #D00102; }
	.rm-red { color: #D00102; }

	.b--darken { border-color: rgba(0,0,0,0.1); }

	.currentColor { fill: currentColor; }

	</style>