 <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <a href="#0" class="ph2 ph0-ns pb3 link db dim">
      <div class="aspect-ratio aspect-ratio--16x9">
      	<img style="background-image:url(http://mrmrs.github.io/images/0006.jpg);" class="db bg-center cover aspect-ratio--object">
      </div>
      <h3 class="f5 f4-ns fw4 mb0 white-80">Title of piece</h3>
      <h3 class="f6 f5 fw3 mt2 white-70">Subtitle of piece</h3>
    </a>
  </article>

  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <a href="#0" class="ph2 ph0-ns pb3 link db dim">
      <div class="aspect-ratio aspect-ratio--16x9">
      	<img style="background-image:url(http://mrmrs.github.io/images/0006.jpg);" class="db bg-center cover aspect-ratio--object">
      </div>
      <h3 class="f5 f4-ns fw4 mb0 white-80">Title of piece</h3>
      <h3 class="f6 f5 fw3 mt2 white-70">Subtitle of piece</h3>
    </a>
  </article>

  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <a href="#0" class="ph2 ph0-ns pb3 link db dim">
      <div class="aspect-ratio aspect-ratio--16x9">
      	<img style="background-image:url(http://mrmrs.github.io/images/0006.jpg);" class="db bg-center cover aspect-ratio--object">
      </div>
      <h3 class="f5 f4-ns fw4 mb0 white-80">Title of piece</h3>
      <h3 class="f6 f5 fw3 mt2 white-70">Subtitle of piece</h3>
    </a>
  </article>

  <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <a href="#0" class="ph2 ph0-ns pb3 link db dim">
      <div class="aspect-ratio aspect-ratio--16x9">
      	<img style="background-image:url(http://mrmrs.github.io/images/0006.jpg);" class="db bg-center cover aspect-ratio--object">
      </div>
      <h3 class="f5 f4-ns fw4 mb0 white-80">Title of piece</h3>
      <h3 class="f6 f5 fw3 mt2 white-70">Subtitle of piece</h3>
    </a>
  </article>