<script src="./case_files/jquery.min.js"></script>

{% if page.type == case %}
	<!-- JS plugins for case page -->
	<link rel="stylesheet" href="https://i.icomoon.io/public/temp/9e52ab8ed4/RadiologyMasters/style.css">
	<script type="text/javascript">
		window.caseId = "1d748786-915e-450a-9c52-10bffd7c4322";
	</script>

	<script src="./case_files/case.complete.js"></script>
	<script src="./case_files/case.related.js"></script>
	<script src="./case_files/case.stats.js"></script>
    <script src="./case_files/index.js"></script>
    <script src="./case_files/player.js"></script>
    <!-- JS plugins for case page -->
{% endif %}

	<!-- JS plugins for every page -->    
	<script src="./case_files/firebase.js"></script>
	<script src="./case_files/settings.firebase.js"></script>
    <script src="./case_files/auth.js"></script>
    <script src="./case_files/display.name.plugin.js"></script>
    <!-- JS plugins for every page -->